<ion-header>
  <ion-toolbar>
    <ion-title>{{ title }}</ion-title>
    <ion-button slot="end" fill="clear" color="medium" (click)="dismiss($event)">
      <ion-icon slot="icon-only" name="close-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <img *ngIf="photos[0]" src="http://www.sebastien-thon.fr/cours/M4104Cip/projet/images/{{ photos[0].image }}">
    <ion-icon *ngIf="important" name="warning"></ion-icon> {{ category }}
    <p> {{ text }} </p>
    {{ date_formated }}
  </div>
</ion-content>