ion-content ion-toolbar {
  --background: translucent;
}

ion-button {
  margin-top: 1rem;
}

ion-spinner {
  margin-right: 1rem;
}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  // background-image: url("../../assets/icon/favicon.png");
  // background-repeat: no-repeat;
  // background-size: contain;
}

#container img {
  width: auto;
  height: 40vh;
  margin-bottom: 5vh;
}