<ion-header>
  <ion-toolbar>
    <ion-title>Connexion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <h1>Petit Prince</h1>
    <img src="../../assets/icon/favicon.png" />
    <ion-item>
      <ion-label position="float">Login : </ion-label>
      <ion-input type="text" [(ngModel)]="login" maxlength="20" placeholder="Entrez votre mot de login" autocomplete autofocus clear-input ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="float">Mot de passe : </ion-label>
      <ion-input type="password" [(ngModel)]="passwd" maxlength="100" placeholder="Entrez votre mot de passe" clear-input="true" ></ion-input>
    </ion-item>
    <ion-item>
      Se souvenir de moi : 
      <ion-checkbox slot="end" [(ngModel)]="keep"></ion-checkbox>
    </ion-item>
    <ion-button (click)="connection($event)" color="tertiary">
      <ion-icon slot="end" name="enter-outline"></ion-icon>
      <span *ngIf="!waiting">Connexion</span>
      <ion-spinner *ngIf="waiting" name="dots"></ion-spinner>
    </ion-button>
  </div>
</ion-content>
