ion-content ion-toolbar {
  --background: translucent;
}

ion-item {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

ion-spinner {
  margin-right: 1rem;
}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container h1 {
  margin-bottom: 20vh;
}