<ion-header>
  <ion-toolbar>
    <ion-title>Galeries</ion-title>
    <ion-button slot="end" fill="clear" color="medium" (click)="contact($event)" >
      <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
    </ion-button>
    <ion-button slot="end" fill="clear" color="medium" (click)="logout($event)" >
      <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row *ngFor="let galerie of reponse"> 
    <ion-card class="bg-color">
      <img *ngIf="galerie.photos[0]" src="http://www.sebastien-thon.fr/cours/M4104Cip/projet/images/{{ galerie.photos[0].image }}">
      <ion-card-header>
        <ion-card-subtitle> <ion-icon *ngIf="galerie.important" name="warning"></ion-icon> classe {{ galerie.classe }} </ion-card-subtitle>
        <ion-card-title> <strong> {{ galerie.titre }} </strong>  </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p class="limitchar"> {{ galerie.texte }} </p> <br>
        {{ galerie.date }} <br>
        <div class="marg"> 
            <ion-button fill="outline" class="marg" slot="end">Ouvrir</ion-button>
        </div>
      </ion-card-content>
    </ion-card>

  </ion-row>
</ion-content>
