ion-content ion-toolbar {
  --background: translucent;
}

ion-content {
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container img {
  width: auto;
  height: 40vh;
  margin-bottom: 5vh;
}