<ion-header>
  <ion-toolbar>
    <ion-title>Contact</ion-title>
    <ion-button slot="end" fill="clear" color="medium" (click)="dismiss($event)" >
      <ion-icon slot="icon-only" name="close-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <h1>École le Petit Prince</h1>
    <p>
      1, rue des écoles<br/>
      13000 Saint Exupéry
    </p>
    <p>Tél : 0412345678</p>
    <p>Mail : contact@lepetitprince.fr</p>
  </div>
</ion-content>
