ion-slides {
	text-align: center;
	height: 100%;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

ion-slide div {
  block-size: auto;
  margin-bottom: 2vh;
}

ion-slide img {
  border: 2px solid black;
  width: 70%;
  height: 70%;
}

ion-slide ion-icon {
  text-align: center;

  position: absolute;
  right: 3vw;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;

  background-color: rgba(30, 240, 255, 0.2);
  border-radius: 100%;
  color: rgb(30, 190, 255);
}