<ion-header>
  <ion-toolbar>
    <ion-title>Dates</ion-title>
    <ion-button slot="end" fill="clear" color="medium" (click)="contact($event)" >
      <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
    </ion-button>
    <ion-button slot="end" fill="clear" color="medium" (click)="logout($event)" >
      <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-row class="mid" *ngFor="let date of dates">
    <ion-card class="bg-color mid">
      <ion-card-header>
        <ion-card-subtitle> {{ date.titre }} </ion-card-subtitle>
        <ion-card-title> <strong> {{ date.date_formated }} </strong>  </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p class="limitchar"> {{ date.texte }} </p> <br>
      </ion-card-content>
    </ion-card>
  </ion-row>
</ion-content>
