<ion-header>
  <ion-toolbar>
    <ion-title>Articles</ion-title>
    <ion-button slot="end" fill="clear" color="medium" (click)="contact($event)" >
      <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
    </ion-button>
    <ion-button slot="end" fill="clear" color="medium" (click)="logout($event)" >
      <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="back-color">
    <ion-row *ngFor="let article of articles">
      <ion-card class="bg-color-card">
        <img *ngIf="article.photos[0]" src="http://www.sebastien-thon.fr/cours/M4104Cip/projet/images/{{ article.photos[0].image }}">
        <ion-card-header>
          <ion-card-subtitle> <ion-icon *ngIf="article.important" name="warning"></ion-icon> {{ article.categorie }} </ion-card-subtitle>
          <ion-card-title> <strong> {{ article.titre }} </strong>  </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p class="limitchar"> {{ article.texte }} </p> <br>
          {{ article.date_formated }} <br>
          <div class="marg"> 
              <ion-button fill="outline" class="marg" slot="end" (click)="viewComplete( article )">Lire</ion-button>
          </div>
          <div class="marg"> 
            <ion-label>Fav</ion-label>
            <ion-toggle (ionChange)="fav_change($event)"></ion-toggle>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-row>
  </div>

</ion-content>
