ion-content {
    --background: #c1f8ff;
}

ion-card {
    background: rgb(250, 250, 250);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

ion-card-subtitle {
    font-size: 1.4rem;
}

ion-card-subtitle ion-icon {
    vertical-align: text-top;
}

.limitchar {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 75ch;
}

.center {
    text-align: center;
}

img {
    width: 100%;
}

.right {
    right: 0;
    top: 0;
    position: absolute;
    z-index: 10;
}

.isfav {
    color : rgb(230, 157, 0);
}

.isnotfav {
    color: rgb(139, 139, 139);
}