ion-content {
    --background: #c1f8ff;
}

ion-card {
    background: rgb(250, 250, 250);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.limitchar {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 75ch;
}

.center {
    text-align: center;
}

img {
    width: 100%;
}