.galerie {
    text-align: center;
    background-color: rgba(236, 236, 236, 0.863);
}
ion-content {
    --background: #c1f8ff;
}

#back-color {
    background-color: rgba(236, 236, 236, 0.863);
}

.padd {
    padding: 20px;
}

.borderr {
    border: 2px solid black;
}