ion-content {
    --background: #c1f8ff;
}

ion-card {
    --background: rgba(240, 240, 240, 0.9);
}

ion-card img {
    border: 2px solid black;
}

ion-card div {
    text-align: center;
    padding: 2vh;
}